body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(../img/DragStrip.png);
    background-repeat: repeat-x;
    background-size: contain;

}
.car{
    display: inline-block;
    width: 150px;
    height: 80px;
    background-image:url(../img/subaru-outback.png) ;
    background-size: contain;
    background-position: bottom,center;
    background-repeat: no-repeat;
    position: absolute;
    left: -200px;
    transition: all 1s;
}

.car[data-model="astra"] {
    background-image: url(../img/astra.png);
}
.car[data-model="astra2"] {
    background-image: url(../img/opel\ astra.png);
}
.car[data-model="avencis"] {
    background-image: url(../img/Avencis.png);
}
.car[data-model="forester"] {
    background-image: url(../img/forester.png);
}
.car[data-model="kia"] {
    background-image: url(../img/KIA\ eed.png);
}
.car[data-model="saab"] {
    background-image: url(../img/Saab.png);
}
.car[data-model="outback"] {
    background-image: url(../img/subaru-outback.png);
}
.car[data-model="verso"] {
    background-image: url(../img/Toyota\ Verso.png);
}

.car::before {
    display: inline-block;
    width: 40px;
    height: 40px;
    content: '';
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffdd;
    color: #000;
    font-size: 30px;
    

}
.car.car-1 {
    top: 20vh;
}
.car-1::before{
    content: "W";
    text-align: center;
}
.car.car-2 {
    top: 60vh;
}
.car-2::before{
    content: "P";
    text-align: center;
}
.line {
    display: inline-block;
    width: 52vh;
    height: 40px;
    transform: rotate(90deg);
    position: absolute;
    top: 22vh;
    left: 190px;
    transform-origin: top left;
    border: 5px solid #fff;
    border-left: none;
    border-right: none;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    color: #fff;
}

    
.line.finish {
    left: calc(100% - 10px);
    border-color: red;
    color: white;
    

    

}


