body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(../img/DragStrip.png);
    background-repeat: repeat-x;
    background-size: contain;

}
.car{
    display: inline-block;
    width: 200px;
    height: 100px;
    background-image:url(../img/subaru-outback.png) ;
    background-size: contain;
    background-position: bottom,center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
}

.car.car-1 {
    top: 20%;
}
.car.car-2 {
    top: 56%;
}


